body{
    margin: 0px;
    padding: 0px;
    background: #f1f1f1;
    box-sizing: border-box;
}

.card-container{
    width: 300px;
    height: 430px;
    background: #FFF;
    border-radius: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 10px 1px #000;
    overflow: hidden;
    display: inline-block;
}

.upper-container{
    height: 150px;
    background-image: url(/assets/imges/fon.jpg);
}

.image-container{
    background: #fff;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 5px;
    transform: translate(70px, 70px);
}

.image-container img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.lower-container{
    height: 280px;
    background: #FFF;
    padding:10px;
    padding-top: 65px;
    text-align: center;
    
}

.lower-container h3{
    font-size: 17;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing:1px;
    font-weight: 700;
    box-sizing: border-box;
}

.lower-container h4{
    font-weight: lighter;
    box-sizing: border-box;
    opacity: .6;
}

.lower-container  p{
    font-size: 14;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    box-sizing: border-box;
    margin-bottom: 20px;  
}
